*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: large;
}

p,li,a,button{
  font-size: 2rem;
  letter-spacing: .1rem;
}

li{
  list-style: none;
}

a{
  color: black;

  &:hover{
    color:aliceblue;
    text-decoration: underline;
  }

}
header{
  height: 10rem;
  box-shadow: rgb(255, 255, 255);
  background-color: rgb(223, 223, 98);
  width: 100%;
}

.container{
  max-width: 143rem;
  margin: auto;
}

.navbar-grid{
  grid-template-columns: .5fr 1fr;
  align-items: center;
  height: 10rem;
  padding: 0 32px;
}

nav ul{
  display: flex;
  justify-content: flex-end;
  background-color: rgb(114, 114, 231);
  gap: 3rem;
  padding: 2px;
}

.grid{
  display: grid;
}